
.section1{
    position: relative;
}
.section1 .slide{
    background: url('../img/banner1.png') no-repeat 0 0;
    background-size:cover;
}
/* 导航菜单 */
.header-box{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
}
.header-box .logo{
    margin-left: 300px;
    margin-top: 48px;
}
.header-box .nav{
    margin-top: 60px;
    margin-right: 250px;
}
.header-box .nav li{
    margin-right: 50px;
}
.header-box .nav li a{
    color: #fff;
    font-size: 20px;
}
/* 翻页按钮 */
.down-page{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -17px;
    cursor: pointer;
    z-index: 100000;
    width: 30px;
    height: 30px;
    border-width: 5px 0 0 5px;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
         -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
}
.up-page{
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -17px;
    cursor: pointer;
    z-index: 100000;
    width: 30px;
    height: 30px;
    border-width: 5px 0 0 5px;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
/* 登录 */
.section1 .user-btn{
    font-size: 18px;
    width: 64px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 100px;
    bottom: 80px;
    z-index: 10000;
    cursor: pointer;
}
.section1 .login{
    right: 170px;
}
.login-panel{
    position: absolute;
    z-index: 10000;
    display: none;
}
.login-panel .login-box{
    width: 800px;
    height: 400px;
    background: #fff;
}
.login-panel .close{
    position: absolute;
    top: 0;
    right: -63px;
    width: 60px;
    height: 60px;
    background: #fff url('../img/guanbi.png') no-repeat center center;
    cursor: pointer;
}
.login-box .login-type{
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
}
.login-box .input{
    box-sizing: border-box;
    border: 1px solid #0088FF;
    height: 32px;
    display: inline-block;
}
#tel{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
#msg{
    width: 80px;
    height: 100%;
    font-size: 16px;
}
#getMsg{
    width: 80px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background: #0088ff;
    color: #fff;
    line-height: 30px;
}
#loginBtn{
    width: 280px;
    height: 40px;
    border-radius: 3px;
    background: #0088ff;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
    font-size: 18px;
    margin-top: 50px;
}
.rigth-box img{
    margin-top: 80px;
    margin-bottom: 20px;
    cursor: pointer;
}
.section2{
    background: url('../img/background-1.png') no-repeat 0 0;
    background-size:cover;
}
.container{
    width: 78%;
    height: 77%;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
}
.section2 .summary-box .content{
    box-sizing: border-box;
    width: 66.6%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section2 .summary-box .home-img{
    width: 100%;
    padding-top: 50px;
}
.section2 .summary-box .home-img img{
    width: 100%;
    height: auto;
}
.section2 .summary-box .title{
    margin: 22px 0px 10px 0px;
    font-size: 24px;
    font-weight: bold;
}
.section2 .summary-box .info-item li{
    display: inline-block;
    width: 70px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #fff;
    border-radius: 14px;
    margin-right: 8px;
    font-size: 14px;
}
.section2 .summary-box .price{
    font-size: 54px;
    line-height: 54px;
}

.section2 .summary-box .view-detail{
    height: 42px;
    width: 192px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    background: rgba(0,100,200,0.5);
    font-size: 16px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

@media (min-width : 1900px){
    .section2 .summary-box .title{
        font-size: 36px;
    }
    .section2 .summary-box .price{
    font-size: 72px;
    line-height: 72px;
}
    .section2 .summary-box .view-detail{
        height: 64px;
        width: 258px;
        line-height: 64px;
    }
}
.section2 .detail-content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.section2 .detail-content .left-box{
    width: 50%;
}
.section2 .detail-content .left-box .home-photo{
    width: 620px;
    height: 240px;
    margin: 0 auto;
    margin-top: 50px;
}
.section2 .detail-content .left-box .big-photo{
    width: 500px;
    height: 100%;
}
.section2 .detail-content .left-box .small-photo{
    width: 120px;
    height: 100%;
}
.section3{
    background: url('../img/background-2.png') no-repeat 0 0;
    background-size:cover;
}
.section4{
    background: url('../img/background-3.png') no-repeat 0 0;
    background-size:cover;
}
/* 修改fullPage样式 */
.bottom.fp-slidesNav{
    bottom: 100px;
}
.fp-slidesNav ul{
    text-align: center;
}
.fp-slidesNav ul li a span{
    background: #fff;
}
.fp-prev.fp-controlArrow{
    left: 100px;
    border: 0;
    width: 50px;
    height: 50px;
    border-width: 8px 0 0 8px;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.fp-next.fp-controlArrow{
    right: 100px;
    border: 0;
    width: 50px;
    height: 50px;
    border-width: 8px 8px 0 0;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.section2 .fp-slidesNav{
    display: none;
}
